# Игнорировать все файлы с расширением .log
*.log

# Игнорировать папку node_modules
node_modules/

# Игнорировать файл .env
.env

# Игнорировать все файлы в папке build
build/

# Игнорировать конкретный файл
secrets.txt

# Игнорировать все файлы с расширением .tmp в любой директории
**/*.tmp